{% extends "base.html.twig" %}
{% block body %}

    <style>
        .hidden {
            display: none;
        }
    </style>
<div id="tasks">
    {% for task in tasks %}
    <div id="task_{{ task.number }}" class="task">
        Numer: {{ task.number }}
        <span class="description">{{ task.description }}</span>
        <span class="machinemodel">{{ task.machineModel.name }}</span>
    </div>
    {% endfor %}
</div>

{% endblock body %}